[submodule "3p/acutest"]
	path = 3p/acutest
	url = git@github.com:ariane-emory/acutest.git
[submodule "3p/bestline"]
	path = 3p/bestline
	url = git@github.com:jart/bestline.git
[submodule "3p/tinyclos"]
	path = 3p/tinyclos
	url = git@github.com:kstephens/tinyclos.git
